{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card shadow">
      <div class="card-body">
        <h4 class="card-title mb-3">Вход в систему</h4>
        {% if error %}
          <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <form method="post" action="/login">
          <div class="mb-3">
            <label class="form-label">Логин</label>
            <input name="username" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Пароль</label>
            <input name="password" type="password" class="form-control" required>
          </div>
          <button class="btn btn-primary w-100">Войти</button>
        </form>
          <h4 class="card-title mb-3"></h4>
          <form action="/resident/login">
              <button class="btn btn-primary w-100">Войти как Житель</button>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
